* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #5E1392 0%, rgba(94, 19, 146, 0) 85.5%);
    background-color: black;
    background-size: 100% 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "h"
    "c "
    "f";
}

main {
    grid-area: c;
}

header {
    grid-area: h;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;

}

footer {
    grid-area: f;
    background-color: rgb(82, 17, 128);
    color: white;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 100px;
}

header > img {
    height: 165px;
}

nav > ul > {
    text-size-adjust: 1.2rem;
}

.divBusca > input {
    width: 300px;
    height: 71px;
    border-radius: 20px;
    font-family: 'Roboto';
   
}



#txtBusca {
    float: right;
    background-color: transparent;
    padding-left: 20px;
    font-style: italic;
    font-size: 18px;
    border: none;
    width: 899px;
    height: 50px;
}

div > img {
    height: 20px;
    padding: 2px;
    align-items: center;
}

header > nav > ul {
    list-style: none;
    display: flex;
    column-gap: 20px;
    color: rgb(255, 255, 255);
}


ul {
    display: flex;
}

ul > li{
    list-style-type: none;
    padding-left: 25px;
    text-transform: uppercase;
    font-weight: 800;
    margin-left: 30px;
}

.fixarrodape {
    position: fixed;
    bottom: 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

.leading-bigtext {
    margin-left: 80px;
    font-weight: bold;
    font-size: 2rem;
    color: white;
}

.cards {
    max-width: 960px;
    margin: 0 auto 100px;
}

article {
    position: relative;
}

.article-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

section > article > img[id="com"] {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
}
div > img{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:844px) {
    .container {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "h"
        "c "
        "f";
    }
}